{{template "html-start.gohtml" .}}
<h1 class="blue">File: user-login.gohtml</h1>
<p><img src="/assets/img/user.jpg" onclick="hello()"></p>
<a href="/">HomePage</a>
{{template "html-end.gohtml" .}}
